{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('customers') }}
{% endblock %}
